@charset "utf-8";
/* CSS Document */
body{background-color:#f00}


#clock {
    color: #f00;
}
.left_inner1 {
    border: 5px solid #f00;
  
}
.left_inner2 {
    border: 5px solid #f00;
  
}
.left_inner3 {
    border: 5px solid #f00;
  
}
.left_inner4 {
    border: 5px solid #f00;
  
}

