@charset "utf-8";
/* CSS Document */
body{background-color:#0000ff}


#clock {
    color: #0000ff;
}
.left_box{border:solid 2px #f00;}
.left_inner1 {
    border: 5px solid #000;
  
}
.left_inner2 {
    border: 5px solid #000;
  
}
.left_inner3 {
    border: 5px solid #000;
  
}
.left_inner4 {
    border: 5px solid #000;
  
}
.right_box{border:solid 3px #f00;}
